<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icon/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<nav class="navbar bg-primary" data-bs-theme="dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand">
            <i class="bi bi-card-text"></i> BlogApp
        </a>
    </div>

</nav>

<body>
    <div class="container mt-3">
        @RenderBody()
    </div>

</body>

</html>